<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New York Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

</head>
<body>
    <div id="map" style="width: 100%; height: 600px;"></div>
    <br>

    <button id="submit">Submit</button>
    <div id="pathLength"></div>
    <script>
        // 지도 초기화
        var map = L.map('map').setView([40.7128, -74.0060], 12); // 뉴욕 좌표

        // OSM 타일 레이어 추가
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // 출발지와 도착지 마커 변수
        var startMarker, endMarker;

        // 경로 레이어 변수
        var routeLayer;

        // 지도 클릭 이벤트 리스너
        map.on('click', function(e) {
            if (!startMarker) {
                startMarker = L.marker(e.latlng).addTo(map).bindPopup('Start').openPopup();
            } else if (!endMarker) {
                endMarker = L.marker(e.latlng).addTo(map).bindPopup('End').openPopup();
            }
        });

        // 버튼 클릭 이벤트 리스너
        document.getElementById('submit').addEventListener('click', function() {
            if (startMarker && endMarker) {
                var startCoords = startMarker.getLatLng();
                var endCoords = endMarker.getLatLng();
                var data = {
                    start: {lat: startCoords.lat, lng: startCoords.lng},
                    end: {lat: endCoords.lat, lng: endCoords.lng}
                };

                // 서버로 좌표 전송
                fetch('/save_coordinates', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        // 경로의 길이 출력
                        document.getElementById('pathLength').innerText = `\n[SUCCESS] Shortest path length: ${data.length} meters\n`;

                        // 이전 경로 레이어 제거
                        if (routeLayer) {
                            map.removeLayer(routeLayer);
                        }

                        // 새로운 경로 레이어 추가
                        routeLayer = L.polyline(data.path, {color: 'blue'}).addTo(map);
                    }
                });
            } else {
                alert('Please select both start and end points.');
            }
        });
    </script>
</body>
</html>